header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    /* width: 500px; */
    justify-content: center;
    gap: 50px;
}

header img {
    height: 40px;
    border: 4em;
    border-radius: 10px;
}

.logoBox {
    height: 40px;
    border: 4em;
    border-radius: 10px;
}

header h1 {
    font-size: 20px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
}

nav ul li {
    gap: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}